%section.section
  .columns.is-centered
    .column.is-8
      .title.is-4.has-main-color
        Search term:
        = params[:search_query]

%section.columns.is-centered.p-top-0
  .column.is-8
    - if @search.present?
      - @search.each do |story|
        = render partial: 'shared/story_card', locals: { story: story }

    - else
      .p-10
        No results found. :[
