= render 'shared/section_title' do
  Search term:
  = params[:search_query]

%section.columns.is-centered.p-top-0.is-marginless
  .column.is-8.p-top-0
    - if @search.present?
      - @search.each do |story|
        = render partial: 'shared/story_card', locals: { story: story }

    - else
      .p-10
        No results found. :[
