%section.section
  .columns.is-centered
    .column.is-8
      .title.is-4.has-main-color
        Top 15 Hacker News

%section.columns.is-centered.p-top-0
  .column.is-8
    - @stories.each do |story|
      = render partial: 'shared/story_card', locals: { story: story }
