.header {
  background-color: $main-color;

  &__logo {
    margin-right: 5px;
    padding: 0px 10px;
    font-size: 1.3em;
    color: $logo-color;
    border: 1px solid $logo-color;

    &:before {
      content: 'Y';
    }
  }

  &__title {
    display: flex;
    align-items: center;
    color: $header-title-color;
    font-weight: bold;
  }
}
