$main-color: #ff6601;
$main-background-color: #f5f5f5;

// Header
$header-title-color: #141414;
$logo-color: #fff;

// Conten
$content-text-color: #4a4a4a;

// Bulma
$section-padding: 2em 1.5em;

$link: $main-color;
$link-hover: #ff9c5a;
$link-visited: $link-hover;
